.search-wrapper {
	display: flex;
	flex-direction: column;

	.search-control,
	.search-results {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 50vh;
	}

	.search-results {
		justify-content: flex-start;
	}

	.text-input {
		width: 50%;
	}

	.warning-message {
		font-size: 14px;
		height: 21px;
	}

	.result-items {
		width: 100%;
		padding-left: 0;

		.result-item {
			display: flex;
			justify-content: space-between;
			align-items: center;
			list-style-type: none;
			padding: 4px;
			border: 1px solid rgb(200, 200, 200);
			border-radius: 4px;
			margin-bottom: 4px;
		}
	}
}

.top-airports {
	position: absolute;
    right: 10px;
	top: 10px;
	padding: 10px;
	background-color: rgba(128, 128, 128, 0.1);
	width: 200px;

	h2 {
		font-size: 14px;
		text-transform: uppercase;
	}

	ol {
		text-transform: uppercase;
		font-size: 11px;
		padding-left: 16px;
		margin-bottom: 0;
	}

	li {
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}

	.no-searches {
		font-size: 11px;
		text-align: center;
	}

	@media screen and (max-width: 800px) {
		position: static;
		margin: 20px 0;
		width: 100%;
	}  
}